/* check button */

.container-b {
  margin: 0px auto 0 auto;
  width: 100%;
  text-align: center;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  display: inline-block;
  position: relative;
  border-radius: 40px;
  padding: 25px 40px;
  width: 8em;
  background: #eeeeee;
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
  cursor: pointer;
}

input[type=checkbox] + label:hover {
  background: #e4e4e4;
}

input[type=checkbox]:checked + label {
  background: #fed136;
  color: #f0f0f0;
  animation: btn-color 0.5s ease-in-out;
}

.label-name {
  position: absolute;
  left: 34px;
  top: 16px;
  -webkit-transition-property: left;
  -webkit-transition-duration: 1s;
}

input[type=checkbox]:checked +label span.label-name {
  position: absolute;
  left: 16px;
  top: 16px;
}

input[type=checkbox]:checked + label div.checkmark {
  display: block;
  fill: #f0f0f0;
}

.checkmark {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 4px;
  right: 8px;
  display: none;
  stroke-width: 4;
  fill: #f0f0f0;
  stroke-miterlimit: 10;
  animation: scale 0.5s ease-in-out;
}

@keyframes scale {
  0% {
    transform: none;
  }
  50% {
    transform: scale3d(1.2, 1.2, 1);
  }
  100% {
    transform: none;
  }
}

@keyframes btn-color {
  0% {
    background: #fed136;
  }
  50% {
    background: #fed136;
  }
  100% {
    background: #fed136;
  }
}